@get:Schema(
    {{#example}}example = "{{{.}}}",{{/example}}
    {{#required}}requiredMode = Schema.RequiredMode.REQUIRED,{{/required}}
    {{#isReadOnly}}readOnly = {{{isReadOnly}}},{{/isReadOnly}}
    description = "{{{description}}}"
) {{#vendorExtensions.x-field-extra-annotation}}
{{{.}}}{{/vendorExtensions.x-field-extra-annotation}}
{{#isInherited}}override {{/isInherited}}{{>modelMutable}} {{{name}}}: {{#isEnum}}{{classname}}.{{nameInPascalCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}
